node_modules
tags
gems.tags
EOT

# Session
Session.vim
Sessionx.vim

tags.temp

prototools/*
!prototools/.proto/.prototools
!prototools/.proto/id

logs/*
xmonad/.xmonad/*.o
xmonad/.xmonad/*.hi
xmonad/.xmonad/*.hi
xmonad/.xmonad/*.errors

