[core]
	excludesfile = /Users/batman/.gitignore_global
  editor = 'nvim'
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = ryanbas21
	email = ryanbas21@gmail.com
	signingkey = B39F8686DBD6ACC5
[commit]
	gpgsign = true
	template = /Users/batman/.stCommitMsg
[github]
	user = ryanbas21
[credential]
	helper = osxkeychain
[alias]
	log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status
  po = push origin
  co = checkout 
  cob = checkout -b
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff]
	tool = vimdiff3
[difftool "vimdiff3"]
	path = nvim
[merge]
  ff = only
	tool = vimdiff3
[mergetool "vimdiff3"]
	path = nvim
[gpg]
	program = gpg
[push]
  followTags = true
  default = simple
[status]
  showUntrackedFiles = all


